.taskView {
  display: flex;
  background-color: var(--white-100);
  border-radius: 7px;
  overflow: hidden;
  transition: transform 0.3s;
}

.taskView:hover {
  transform: translateY(-5px);
}

.container {
  padding: 12px;
  flex: 1 1 0;
  z-index: 10;
}

.time {
  max-width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 0;
}

.triangle {
  content: '';
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  aspect-ratio: 1;
  transform: translateX(-50%);
}

.normal {
  background-color: var(--jordy-blue-400);
}

.warning {
  background-color: var(--lemon-300);
}

.critical {
  background-color: var(--sweet-pink-300);
}

.completed {
  background-color: var(--moss-green-300);
}
